name: MLOps Pipeline

on:
  push:
    branches:
      - master

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  preprocess-data:
    needs: setup-environment
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  train-model:
    needs: preprocess-data
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  validate-model:
    needs: train-model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
  
      - name: Wait for 10 seconds
        run: sleep 10s
  
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
  
      - name: Install newman
        run: npm install -g newman
  
      - name: Run Postman tests
        run: newman run ${{ github.workspace }}/src/test/Postman_Tests/My_ChatGPT_Tests.postman_collection.json

  package-model:
    needs: validate-model
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  deploy-model:
    needs: package-model
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  # Automated Testing Job
  automated-testing:
    needs: deploy-model
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10

  monitor-model:
    needs: automated-testing
    runs-on: ubuntu-latest
    steps:
      - name: Wait for 10 seconds
        run: sleep 10
